@use "../variables";

.add-listing-button {
  background-color: variables.$secondary;
  border-color: variables.$secondary;
  &:hover {
    background-color: variables.$secondary-hover;
    border-color: variables.$secondary-hover;
  }
  &:active {
    background-color: variables.$secondary-active !important;
    border-color: variables.$secondary-active !important;
  }
  padding: 10px 24px;
  font-family: "Lato", sans-serif;
  i {
    margin-right: 5px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.place-bid-button {
  background: variables.$secondary;
  border-color: variables.$secondary;
  &:hover {
    background: variables.$secondary-hover;
    border-color: variables.$secondary-hover;
  }
  &:active {
    background: variables.$secondary-active !important;
    border-color: variables.$secondary-active !important;
  }
}

.card-tags a {
  padding: 3px 15px;
  color: variables.$body-bg;
  background: #4a4458;
  border-color: #4a4458;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn-custom {
  background-color: variables.$primary;
  border-color: variables.$primary;
  color: variables.$body-bg;
  &:hover {
    background-color: variables.$primary-hover;
    border-color: variables.$primary-hover;
    color: variables.$body-bg;
  }
  &:active {
    background-color: variables.$primary-active !important;
    border-color: variables.$primary-active !important;
    color: variables.$body-bg !important;
  }
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
