@use "../variables";

.btn-secondary {
  color: variables.$body-bg;
}
.add-listing-button {
  background-color: variables.$secondary;
  border-color: variables.$secondary;
  padding: 10px 24px;
  i {
    margin-right: 5px;
  }
}

.card-tags a {
  padding: 3px 15px;
  color: variables.$body-bg;
  background: #4a4458;
  border-color: #4a4458;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn-custom {
  background-color: variables.$primary;
  border-color: variables.$primary;
  color: variables.$body-bg;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
