@use "../variables";

.card {
  width: 19rem;
  background: variables.$card-bg;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  a {
    text-decoration: none;
  }

  img {
    aspect-ratio: 326/218;
  }

  small {
    color: #49454f;
  }

  .card-display-bids {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.66);
    width: 35%;
  }

  .card-display-ends {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 9.5rem;
  }

  .card-author {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    a {
      color: variables.$link-color;
    }
  }

  .card-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .card-body {
    background: variables.$card-bg;
    .card-body-bid-info {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 700;
      span {
        font-weight: 400;
        margin-left: 0.5em;
      }
    }
  }

  .card-recent-bids {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 400;
    }

    h2 {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 700;
    }

    a {
      color: variables.$link-color;
      padding-left: 0.5em;
    }
  }
}

.card-detail {
  a {
    text-decoration: none;
  }

  .row {
    background: variables.$card-bg;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }
  .img-fluid {
    height: 100%;
  }
}

.place-bid-card {
  justify-self: flex-end;
  form {
    background: variables.$card-bg;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }
  input[type="number"] {
    text-align: center;
  }
}

.bid-history-list {
  .bid-history-list-body {
    background: variables.$card-bg;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    .bid-list-name .bid-list-amount {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
    .bid-list-date {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.card-profile {
  background: variables.$card-bg;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));

  .img-fluid {
    height: 100%;
    @media (max-width: 767px) {
      border-radius: 0.5rem 0.5rem 0 0 !important;
    }
  }

  .card-profile-img {
    width: 120px;
    height: 120px;
    border-width: 2px;
  }
}

.bids-container {
  @media (max-width: 767px) {
    flex-direction: column;
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
