.form-switch {
  .form-check-input {
    height: 24px;
    width: 39px;
  }
  .form-check-label {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: end;
    font-family: "Lato", sans-serif;
    font-size: 16px;
  }
}
