// Body background color
$body-bg: #e9ecef;

// Card background color
$card-bg: #d9d9d9;

// Theme-colors
$primary: #2a476b;
$active-nav-item: #1abc9c;
$secondary: #005715;
$link-color: #0057ca;
// Font family
$font-family-base: "Open Sans", sans-serif;

// Font size
$font-size-navigation: 28px;
