// Body background color
$body-bg: #e9ecef;

// Card background color
$card-bg: #d9d9d9;

// Theme-colors
$primary: #2a476b;
$secondary: #1abc9c;

// Font family
$font-family-base: "Open Sans", sans-serif;

// Font size
$font-size-navigation: 28px;
