// Body background color
$body-bg: #e9ecef;

// Card background color
$card-bg: #d9d9d9;

// Theme-colors
$primary: #2a476b;
$primary-hover: #3b5d8a;
$primary-active: #1e3554;
$active-nav-item: #1abc9c;
$nav-item-hover: #2ecc71;
$secondary: #005715;
$secondary-hover: #007a1f;
$secondary-active: #00440e;
$modal-bg: #625b71;
$danger: #dc3545;
$danger-hover: #c82333;
$danger-active: #bd2130;

$link-color: #0057ca;
// Font family
$font-family-base: "Open Sans", sans-serif;

// Font size
$font-size-navigation: 28px;
