@use "variables.scss";
@use "~bootstrap/scss/bootstrap" as *;
@use "components/header";
@use "components/buttons";
@use "components/switches";
@use "components/cards";
@use "components/bidlist";
@use "components/footer";
@use "components/authorization";
@use "components/product_detail";
@use "components/modal";
@use "components/carousel";

* {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

h1 {
  font-family: $font-family-base;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-family: $font-family-base;
  font-size: 24px;
  font-weight: 700;
}

small {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.product-section {
  max-width: 1400px;
}

#sentinel {
  height: 150rem;
}
